{% extends "base.html" %}

{% block content %}

<h1>About AstroWeather</h1>
<h3>
    AstroWeather is a free service for astronemers, which can tell you, what the weather will be tonight. For usage just create account and get forecast to 2 periods of the day.
</h3>
{% if not loginned%}
<h5>
    <a href="/login">To Login</a>
</h5>
{%endif%}
<h6>
    AstroWeather was created by NikolayMorgunov
</h6>
<h6>
    <a href="https://github.com/NikolayMorgunov/AstroWeather">My GitHub</a>
</h6>


{% endblock %}
