<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
        background: url('static/images/bg.jpg') left top repeat-x;
        margin-left: 0px;
        margin-top: 0px}
        header {
        display: block
        }
        .header-bg {
        background: url('static/images/name.jpg') left top no-repeat;  height: 149px;}

    </style>
    <title>{{title}}</title>
</head>
<body>

<header>
    <div class="header-bg">
    </div>
</header>
</body>
</html>
