<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
        background: url('static/images/bg.jpg') left top repeat-x;
        margin-left: 0px;
        margin-top: 0px}
        header {
        display: block
        }
        .header-bg {
        background: url('static/images/name.jpg') left top no-repeat;  height: 149px;}
        table{
        margin-left: 90px;
        }
    </style>
    <title>{{title}}</title>
</head>
<body>

<header>
    <div class="header-bg">
    </div>
</header>
<table cellpadding="10">
    <tr>
        <td>
            <a href="/about">About</a>
        </td>
        {% if loginned %}
        <td>
            <a href="/forecast">Forecast</a>
        </td>
        <td>
            <a href="/change_location">Change location</a>
        </td>
        <td>                  </td>
        <td>
            {{ username }}
        </td>
        <td>
            <a href="/log_out">Sign out</a>
        </td>
        {% endif %}
    </tr>
</table>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
