{% extends "base.html" %}
{% block content %}

<h1> Astronomic weather conditions in {{ city }} on {{ day }} {{ month }} {{ year }}</h1>
{% if not_polar %}
<table cellpadding="25">
    <tr>
        <td><h3>{{sunrise}}</h3></td>
        <td><h3>Sunrise</h3></td>
    </tr>
    <tr>
        <td><h3>{{sunset}}</h3></td>
        <td><h3>Sunset</h3></td>
    </tr>
</table>
{% endif %}


<table cellpadding="25">
    {% for i in text %}
    <tr>
        {% for j in i %}
            <td>
                <h3>{{j}}</h3>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<h5>
    <a href="https://yandex.ru/pogoda/vladivostok">Яндекс.Погода</a>
</h5>
{% endblock %}
